:root {
    --grigioscuro: #1C1C1C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.6rem;
}

header {
    padding: 1rem;
}

ul {
    min-width: 600px;
    list-style: none;
}

li{
    width: 20%;
    font-weight: bold;
}

li span {
    font-size: 1rem;
}

#jumbotron {
    min-height: 600px;
    background-color: black;
}

#h2 {
    color: white;
    text-align: center;
}